.line-chart {
  .legend-entry {
    font-size: 12px;
  }

  .highlight-line path {
    stroke-width: 3px !important;
  }

  .series-overlay {
    fill: #fff;
    opacity: 0.7;
  }

  .legend-entry-value {
    font-weight: 400;
  }

  .highlight-ref-line {
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width: 1px;
  }
}
