.line-chart {
  .highlight-line path {
    stroke-width: 3px !important;
  }

  .series-overlay {
    fill: #fff;
    opacity: 0.7;
  }

  .highlight-ref-line {
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 1px;
  }
}
