@import "../../assets/variables";

.IspSelectWithIncidents {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0.85em;
  color: #888;
  width: 100%;

  .Select {
    margin-bottom: 10px;
  }

  .selected-isp {
    display: inline-block;
    padding: 4px 25px 2px 8px;
    background-color: $brand-primary;
    color: #fff;
    margin: 0 4px 4px 0;
    border-radius: 4px;
    white-space: nowrap;
    max-width: 100%;
    position: relative;

    .isp-label {
      max-width: 100%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }

    .isp-remove-control {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 6px;
      line-height: 2;
      border-radius: 0 4px 4px 0;
      margin: 0;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.dropdownCheckList {
  display: inline-block;
  width: 100%;
}

.dropdownCheckList .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 8px 50px 8px 10px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 10pt;
  color: rgb(180, 180, 180);
  border-radius: 4px;
}

.dropdownCheckList .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid #ccc;
  border-top: 2px solid #ccc;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdownCheckList .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdownCheckList ul.items {
  padding: 8px;
  display: none;
  border: 1px solid #ccc;
  border-radius: 0px 0px 4px 4px;
  border-top: none;
  width: 100%;
  color: #3c4043;
  letter-spacing: 0.1px;
  min-height: 38px;
  overflow: hidden;
}
.dropdownCheckList ul.items li {
  list-style: none;
  margin: 0 4px 4px 0;
}

.show-inc-btn {
  float: right;
  border: none;
  border-radius: 4px;
  background: #fff;
  color: #4285f4;
  text-transform: uppercase;
  font: 400 14px Roboto, HelveticaNeue, Arial, sans-serif;
}
