.IspSelect {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0.85em;
  color: #888;

  .Select {
    margin-bottom: 10px;
  }

  .selected-isp {
    display: inline-block;
    padding: 2px 0px 2px 8px;
    background-color: black;
    color: #fff;
    margin: 0 4px 4px 0;
    border-radius: 4px;
    white-space: nowrap;


    .isp-remove-control {
      padding: 0 6px;
      line-height: 2;
      margin: -2px 0;
      border-radius: 0 4px 4px 0;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

}
