@import "../../assets/variables";

.DataPage {

  .time-aggr {
    width: 200px;
  }

  .features-section {
    padding-top: 12px;
    border-top: none;
  }

  .download-btn {
    margin: 40px 0;
  }

  .FilterSuggestions {
    margin-bottom: 20px;
  }
}
