
.WorldMapContainer {
  .server {
    color: #444;
    font-weight: 600;
  }
}

.WorldMap {
  background: rgba(0, 0, 0, 0);
  margin-bottom: 6px;
  .server {
    fill-opacity: 0.5;
    fill: #444;
  }
  .line {
    fill: none;
    stroke: #444;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
  }

  .WorldMap-legend {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;

    svg {
      display: inline-block;
      margin: 0 3px;
    }

    ul {
      margin: 0;
    }

    li {
      display: inline-block;
      background: #fff;
      margin: 4px;
      padding: 4px;
    }

    .server-indicator, .client-indicator {
      vertical-align: baseline;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #333;
      display: inline-block;
      margin-right: 4px;
      margin-bottom: 1px;
    }
  }
}
