
.WorldMapContainer {
  .server {
    color: #444;
    font-weight: 600;
  }
}

.WorldMap {
  background: rgba(0, 0, 0, 0);
  margin-bottom: 6px;
  .server {
    fill-opacity: 0.5;
    fill: #444;
  }
  .line {
    fill: none;
    stroke: #444;
    stroke-opacity: 0.4;
    stroke-width: 2px;
  }
}
