
.hour-chart {
  path {
    stroke-width: 1.5px;
  }

  .circles circle {
    opacity: 0.2;
  }

  .highlight {
    pointer-events: none;
    font-size: 12px;

    text {
      font-weight: 500;
    }
  }

  .extent-lines {
    stroke: #f00;
    stroke-width: 1px;
  }
}