.dashboard-page {
  font-size: 20px;
  margin-bottom: 8rem;
}

a {
  cursor: pointer;
}

.sticky {
  background-color: white;
  padding-top: 1rem;
  position: sticky;
  top: 0rem;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 0;
  margin-bottom: 1rem;
}

.group.column-reverse {
  flex-direction: column-reverse;
}

@media (min-width: 564px) {
  .group {
    flex-direction: row !important;
  }
}

.group > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
}

.chart-placeholder {
  // background-color: #ebebeb;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  text-align: center;
}

.chart-placeholder + * {
  margin-left: 1rem;
}

.dynamic-value,
.audio-label,
.video-label {
  background-color: #ccc;
  color: black;
  // font-size: 20px;
  font-weight: 900;
  padding: .05em .3em;
}

.audio-label {
  background-color: hotpink;
}

.video-label {
  background-color: rgb(155, 210, 199);
}

details {
  margin-bottom: 1rem;
}

details div {
  background-color: #ebebeb;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 80%;
}

details summary {
  background-color: white;
  cursor: pointer;
  font-style: italic;
}

.tick {
  font-size: 14px;
}

.is-fetching {
  pointer-events: none;
  opacity: .5;
}

table {
  margin-bottom: 2rem;
  width: 100%;
}

thead {
  border-bottom: 1px solid black;
}

th, td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #ebebeb;
}