.navbar-brand {
  padding-right: 30px;
  > img {
    height: 20px;
    display: inline-block;
    margin-top: -8px;
  }
  > span {
    margin-left: 2px;
    font-weight: 100;
    font-size: 20px;
    line-height: 1.2;
  }
}