

.LineChartSmallMult {

  .small-mult-title {
    font-weight: 500;
  }

  .small-mult-name {
    font-size: 0.9em;
    font-weight: 300;
  }

  .small-mult-hover-label {
    font-weight: 500;
    font-size: 0.8em;
  }

  .axis-line {
    stroke: #ccc;
    stroke-width: 1px;
  }
}
