// Import our custom bootstrap version
@import "variables";
@import "bootstrap_custom";
@import "./font-awesome/scss/font-awesome.scss";
@import "chart";

// Generic site-wide css here
body {
  font-weight: 300;
  background: #fff;
}


.section, .subsection {
  border-top: 1px solid #e0e0e0;
  padding-top: 12px;
  margin-bottom: 40px;

  header {
    h2, h3 {
      margin-top: 0;
    }
  }

}