@import "../../assets/variables";

.HomePage {
  .feature {
    h1 {
      margin-bottom: 24px;
    }
  }
  p {
    font-size: 1.2em;
  }

  .WorldMapContainer {
    margin-top: 15px;

    p {
      font-size: 1em;
    }
  }
}
