
.LocationPage{
  .chart-options .checkbox {
    margin: 0;
    font-size: 0.9em;
  }
  .location-header {
    padding-bottom: 17px;
  }

  .Breadcrumbs ul {
    margin-top: 10px;
    margin-bottom: 4px;
  }

  // Incident stylings
  .exclamation {
    margin: 0 5px;
  }

  .isp-select-div {
    display: inline;
    max-width: 1000px;
    min-width: 250px;
  }

  .show-incident {
    background-color: rgb(245, 80, 26);
    border-radius: 6px;
    outline: none;
    border: none;
    color: #FFF;
    padding: 0px 12px;
    display: inline-block;
    float: right;
    max-height: 35px;
  }

  .upper-row {
    display: flex;
    align-items: center;
  }
  
}
